.text_content {
  font-family: "Literata", serif;
  font-size: 20px;
}

h1 {
  font-family: "Gabarito", sans-serif;
}

#content{
  padding-left: 100px;
  padding-right: 100px;
}

.page_content{
  padding-top: 50px;
}